<app-koszyk [koszyk]="koszyk"></app-koszyk>

<div *ngIf="showProducts">
  <table class="product-table">
    <thead>
    <tr>
      <th>Nazwa</th>
      <th>Cena</th>
      <th>Data utworzenia</th>
      <th>Dodaj do koszyka</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products" [ngClass]="{'promo-row': product.czyPromocja}">
      <td>{{ product.nazwa }}</td>
      <td>{{ product.cena | currency:'PLN' }}</td>
      <td>{{ product.dataUtworzenia | date:'dd-MM-yyyy' }}</td>
      <td>
        <button (click)="dodajDoKoszyka(product)">Dodaj</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<button (click)="toggleProducts()">
  {{ showProducts ? 'Ukryj produkty' : 'Pokaż produkty' }}
</button>
